body {
    background-color: aliceblue;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

h1.header {
    text-align: center;
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
    background-color: aliceblue;
    margin: 0;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 4%;
}

div.nav {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 80%;
    margin: auto;
    left: 10%;
    background-color: white;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 20px;
    border-width: medium;
    border-style: solid;
    border-color: black;
}
a.nav1 {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    position: relative;
    display: inline-block;
    padding: 8px;
    padding-left: 31.74%;
    padding-right: 31.74%;
    margin: 0;
    text-decoration: none;
    border-bottom-width: medium;
    border-bottom-color: black;
    border-bottom-style: solid;
}
a.nav2 {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    position: relative;
    display: inline-block;
    padding: 8px;
    padding-left: 34.44%;
    padding-right: 34.44%;
    margin: 0;
    text-decoration: none;
    border-bottom-width: medium;
    border-bottom-color: black;
    border-bottom-style: solid;
}
a.nav3 {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    position: relative;
    display: inline-block;
    padding: 8px;
    padding-left: 24.98%;
    padding-right: 24.98%;
    margin: 0;
    text-decoration: none;
    border-bottom-width: medium;
    border-bottom-color: black;
    border-bottom-style: solid;
}
a.nav4 {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    position: relative;
    display: inline-block;
    padding: 8px;
    padding-left: 33.09%;
    padding-right: 33.09%;
    margin: 0;
    text-decoration: none;
    border-bottom-width: medium;
    border-bottom-color: black;
    border-bottom-style: solid;
}
a.navLast {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    position: relative;
    display: inline-block;
    padding: 8px;
    padding-left: 32.41%;
    padding-right: 32.41%;
    margin: 0;
    text-decoration: none;
}
a.nav1:hover {
    background-color: rgb(255, 218, 185, 0.8);
}
a.nav2:hover {
    background-color: rgb(255, 218, 185, 0.8);
}
a.nav3:hover {
    background-color: rgb(255, 218, 185, 0.8);
}
a.nav4:hover {
    background-color: rgb(255, 218, 185, 0.8);
}
a.navLast:hover {
    background-color: rgb(255, 218, 185, 0.8);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

p.intro {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 40px 30px;
    background-color: white;
    text-align: center;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    border-bottom-width: medium;
    border-bottom-style: solid;
    border-bottom-color: black;
}
b.ourstory {
    font-size: 30px;
}