body {
    background-color: steelblue;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
  
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  
.sidenav a:hover {
    color: aliceblue;
}
  
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}
  
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

h1.header {
    text-align: center;
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
    background-color: aliceblue;
    margin-top: 45px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    padding: 30px;
    padding-bottom: 15px;
}

p.intro {
    background-color: aliceblue;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    width: 85%;
    text-align: center;
    padding: 30px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}
b.ourstory {
    font-size: 30px;
}

img.mainimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border-radius: 10px;
}

div.bdayinput {
    background-color: aliceblue;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    text-align: center;
    padding: 30px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}